@model ekscarMVC.Models.Maintenance.Maintenance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Maintenance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fuel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gear.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gear.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
